html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0%;
    padding: 0%;
}

/* Header styling */
.header{
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.header p {
    color: #F9FAF8;
    font-size: 24px;
}

.header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 32px;
}

a {
    text-decoration: none;
    font-size: 15px;
    color: #d9dbdf;
}


.part-1 {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

/* Hero styling */

.part-2 {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding: 30px;
}

.part-2 .content {
    display: flex;
    width: 80vw;
    align-items: center;
    justify-content: space-between;
    margin: 80px;
}

img {
    width: auto;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 0px;
}

.hero {
    display: flex;
    flex-direction: column;
    width: 450px;
}

.hero-title {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    margin: 0;
}

.hero-text {
    font-size: 18px;
    color: #d9dbdf;
    margin: 10px 0;

}

.hero button {
    border: none;
    background-color: #3882F6;
    color: white;
    width: 120px;
    padding: 8px 15px;
    margin: 16px 0;
    border-radius: 5px;
}

/* Cards styling */

.part-3 {
    text-align: center;
}

.part-3 h1 {
    font-size: 36px;
    color: #1F2937;
    font-weight: bold;
    margin: 100px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.card {
    width: 200px;
}

.card img {
    height: auto;
    width: 200px;
}

.card p {
    margin: 0%;
    padding: 0%;

    margin: 10px 0 220px 0;
}

/* Quote styling */

.part-4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    background-color: #E5E7EB;
}

.part-4 .content {
    width: 830px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 90px 0;
}

.part-4 p {
    padding: 0;
    margin: 0;
}

.part-4 .quote {
    font-size: 36px;
    font-weight: 30;
    color: #1F2937;
}

.part-4 .author {
    align-self: flex-end;
    font-weight: 700;
    font-size: 20px;
}